// Default styles for elements
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
  }
}

h1, h2, h3, p, a {
  font-weight: 200;
  font-family: "gidoleregular", Sans-Serif;
  text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.1);
}

h1, h2 {
  font-weight: bold;
}

// Fonts
@font-face {
  font-family: "gidoleregular";
  src: url("fonts/gidole-regular-webfont.eot");
  src: url("fonts/gidole-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/gidole-regular-webfont.woff2") format("woff2"),
       url("fonts/gidole-regular-webfont.woff") format("woff"),
       url("fonts/gidole-regular-webfont.ttf") format("truetype"),
       url("fonts/gidole-regular-webfont.svg#gidoleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Mixins
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Header module
.header {
  height: 66px;
  background-color: #2B384A;
  position: relative;

  .header--logo {
    float: left;
    max-width: 150px;
    height: 65px;
  }

  .header--nav {
    display: block;
    float: right;
    margin: 0 2% 0 0;
    text-transform: uppercase;
    a {
      display: inline-block;
      text-decoration: none;
      color: #F6F6F6;
      border: 1px solid #F6F6F6;
      border-radius: 2px;
      padding: 8px 8px 6px 8px;
      top: 2px;
      transition: all 0.2s ease;
      &:hover {
        color: #3986F2;
        border: 1px solid #3986F2;
      }
    }
  }
}

.page-container {
  height: 100%;
}

// Section styles
section {
  background: #3986F2;
  // background: rgba(57,134,242,1);
  // background: -moz-linear-gradient(top, rgba(57,134,242,1) 0%, rgba(99,171,247,1) 100%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(57,134,242,1)), color-stop(100%, rgba(99,171,247,1)));
  // background: -webkit-linear-gradient(top, rgba(57,134,242,1) 0%, rgba(99,171,247,1) 100%);
  // background: -o-linear-gradient(top, rgba(57,134,242,1) 0%, rgba(99,171,247,1) 100%);
  // background: -ms-linear-gradient(top, rgba(57,134,242,1) 0%, rgba(99,171,247,1) 100%);
  // background: linear-gradient(to bottom, rgba(57,134,242,1) 0%, rgba(99,171,247,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3986f2', endColorstr='#63abf7', GradientType=0 );
  min-height: 300px;
  padding: 8%;
  color: #F6F6F6;
  text-align: center;
}

section:nth-child(even) {
  background: #F6F6F6;
  color: #403F40;
}

.why--details {
  margin: 8% 0 0 0;
  overflow: hidden;

  .why--details__list {
    float: left;
    li {
      &:first-child {
        margin: 0 0 40px 0;
      }
      @include tablet {
        float: left;
        width: 49%;
      }
      div {
        height: 50px;
        width: 50px;
        border: 1px solid black;
        margin: 0 auto;
      }
    }
  }
  .reason-1-image {
    // Specific image here
  }
  .reason-2-image {
    // Specific image here
  }
}

.order-now {
  button {
    background-color: #51DF73;
    border: none;
    padding: 12px 15px 9px 15px;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.4);
    border-radius: 2px;
  }
}

.faq-list .faq-answer {
  transition: all 1s ease;
  display: none;
}

// Helper classes & mixins
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.faded {
  opacity: 0.8;
}

// 360PX MIN BREAKPOINT